.header {
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.4);
  background-color: rgb(red, green, blue);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: none;
  
}